@keyframes move-x_11 {
  0% {
  }

  10% {
    left: 0;
  }

  50% {
    left: -10px;
  }

  100% {
    left: -18px;
  }
}

@keyframes move-x_10 {
  0% {
  }

  10% {
    left: 0;
  }

  50% {
    left: -20px;
  }

  100% {
    left: -20px;
  }
}

@keyframes move-x_9 {
  0% {
  }

  10% {
    left: 0;
  }

  50% {
    left: 10px;
  }

  100% {
    left: 10px;
  }
}

@keyframes move-x_8 {
  0% {
  }

  10% {
    left: 0;
  }

  50% {
    left: 20px;
  }

  100% {
    left: 20px;
  }
}

@keyframes move-x_7 {
  0% {
  }

  10% {
    left: 0;
  }

  50% {
    left: 1px;
  }

  75% {
    left: 2px;
  }

  100% {
    left: 3px;
  }
}

@keyframes move-x_6 {
  0% {
  }

  10% {
    left: 0;
  }

  50% {
    left: -1px;
  }

  75% {
    left: -2px;
  }

  100% {
    left: -3px;
  }
}

@keyframes move-x_5 {
  0% {
  }

  10% {
    left: 0;
  }

  50% {
    left: -5px;
  }

  75% {
    left: -10px;
  }

  100% {
    left: -20px;
  }
}

@keyframes move-x_4 {
  0% {
  }

  10% {
    left: 0;
  }

  50% {
    left: -5px;
  }

  75% {
    left: 20px;
  }

  100% {
    left: 10px;
  }
}

@keyframes move-x_3 {
  0% {
  }

  10% {
    left: 0;
  }

  50% {
    left: 10px;
  }

  75% {
    left: 20px;
  }

  100% {
    left: -10px;
  }
}

@keyframes move-x_2 {
  0% {
  }

  10% {
    left: 0;
  }

  50% {
    left: 25px;
  }

  75% {
    left: 10px;
  }

  100% {
    left: 5px;
  }
}

@keyframes move-x_1 {
  0% {
  }

  10% {
    left: 0;
  }
  50% {
    left: 8px;
  }

  75% {
    left: -15px;
  }

  100% {
    left: 15px;
  }
}
